html {
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

div {
  margin: 50px auto;
}

.gnome {
  opacity: 0.3;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.3);
}

.quarterBeats {
  opacity: 1;
}
